<html>
<body>
  <div class="container">
    <h2>Welcome To Admin Page</h2>
  </div>
  
  <div class="admin-component">
    <div id="add-product" class="content active custom-padding">
      <h3>To know more about userdetails click GetUserDetails</h3>
      <ul routerLink="/userlist" routerLinkActive="active" class="nav-link">
          <b><h2>GetUserDetails</h2></b></ul>
      <!-- Add your content for retrieving user list here -->
    </div>
    
    <div id="add-product" class="content active custom-padding">
      <h3>To add the product click AddProduct </h3>
      <ul routerLink="/add-product" routerLinkActive="active" 
      class="nav-link">
      <b><h2>Add Product</h2></b></ul>
      <!-- Add your content for adding a product here -->
    </div>
  
    <div id="add-product" class="content active custom-padding">
      <h3>To view all the products click Display All Products</h3>
      <ul routerLink="/productlist" routerLinkActive="active" 
      class="nav-link"><b><h2>Display All Products</h2></b></ul>
      <!-- Add your content for adding a product here -->
    </div>
    <button class="btn btn-back" (click)= "logout()" ><b>Logout</b></button>
    
  </div>
  </body>
  </html>