<body>
  <header>
      <h1>Shop With Us</h1>
    </header>
    
   <div class="hero">
     <!--   <a routerLink="/userlist" routerLinkActive="active" class="nav-link" ><p style="color:antiquewhite">get userlist</p></a>
    -->
      <h2>Discover a World of Shopping </h2>
      <p><b>Sign up or log in to access exclusive deals and offers.</b></p>
    </div>
    
    <div class="register-login">
      <div class="register">
        <h3>Create an Account</h3>
        <p>Sign up to start shopping with us and enjoy personalized recommendations.</p>
        <a routerLink="/register" class="button">Register</a>
      </div>
      
      
      <div class="login">
        <h3>Already have an Account?</h3>
        <p>Log in to access your account, view orders, and manage your profile.</p>
        <a routerLink="/login" class="button">Login</a>
      </div>
    </div>
    </body>
    <footer>
      <span>All Rights Reserved 2023 @My E-Commerce Store</span>
    </footer>